# Python
__pycache__/
*.py[cod]
*.pyo

# Jupyter and IPython
.ipynb_checkpoints/

# Virtual environments
venv/
env/

# Data and models
*.xlsx
*.pth
*.json
*.png

# IDE / editor settings
.vscode/
*.swp
.DS_Store

# OS metadata
Thumbs.db
ehthumbs.db
